@import 'partials/setup';
@import 'partials/global';
@import 'partials/logform';


/* =========================================================================================================
HEADER
========================================================================================================= */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 35px;
	background: $darkColor;
	color: $lightColor;

	ul {
		display: flex;
	}
}

/* -- navigation -- */
nav a {
	margin: 10px;
	color: $lightColor;
	position: relative;
}

nav a::before {
	position: absolute;
	content: '';
	margin-bottom: -10px;
	height: 1px;
	width: 100%;
	left: 0;
	bottom: 0;
	transform: scale(0);
	background: $accentColor;
	transition: all .3s ease;
}

nav a:hover::before {
	transform: scaleX(1);
}

/* ---------------------------------------------------------------------------------------------------------
MAIN SECTION
--------------------------------------------------------------------------------------------------------- */
main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	z-index: 1;
}

/* -- overlay -- */
.hide {
	opacity: 0;
	transition: all .3s ease;
}

div.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 9;
	background: rgba(0,0,0,0.5);
	opacity: 1;
}

/* -- ready to translate section -- */
.toTranslate {
	width: 100%;
	text-align: center;
	display: flex;

	form {
		width: 50%;
		padding: 20px;

		button {
			margin: 20px;
		}
	}

	h2 {
		margin-bottom: 40px;
	}
}

/* -- finished translation, ready to save section -- */
.translated {
	position: relative;
	padding: 20px;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-left: 1px solid $boldColor;

	p.credit {
		padding: 30px 0 0;

		a {
			transition: all .3s ease;
			font-weight: bold;
			color: $mellowColor;
		}

		& a:hover {
			color: $accentColor;
		}
	}

	p {
		padding: 80px;
	}


	.translation {
		font-size: 30px;
	}
}

/* -- saved translation section -- */
.toSave {
	width: 100%;
	border-top: 1px solid $boldColor;

	ul {
		margin: 0 auto;
		padding: 20px;

		li {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 10px 0;
		}
	}
}

.remove {
	padding: 7px 13px;
	margin-left: 20px;
}

/* ---------------------------------------------------------------------------------------------------------
FOOTER SECTION
--------------------------------------------------------------------------------------------------------- */
footer {
	text-align: center;
	padding: 20px;
	background: $darkColor;
	color: $lightColor;

	p {
		margin-bottom: 20px;
	}

	a {
		color: $lightColor;
		margin: 0 40px;	
		font-size: 18px;
		transition: all .3s ease;

		&:hover {
			color: $accentColor;
		}
	}
}

@import 'partials/media';