@import 'partials/setup';
@import 'partials/global';

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 35px;
	background: linear-gradient($fontColor, $fontColor);
	color: $lightColor;

	ul {
		display: flex;
	}
}

nav a {
	margin: 10px;
	color: white;
}

.loginForm {
	position: absolute;
	width: 40%;
	text-align: center;
	left: 50%;
	top: 50%;
	border: 1px solid $mellowColor;
	border-radius: 1px;
	transform: translate(-50%, -50%);
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 10;

	input {
		width: inherit;
	}
}

main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	z-index: 1;
}

.hide {
	opacity: 0;
	transition: all .3s ease;
}

div.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 9;
	background: rgba(0,0,0,0.5);
	opacity: 1;
}

.toTranslate {
	width: 100%;
	text-align: center;
	display: flex;
	// border-right: 1px solid $boldColor;

	form {
		// display: inline-flex;
		width: 50%;
		// flex-direction: column;
		// justify-content: center;
		// flex-wrap: wrap;
		// align-items: center;
		padding: 20px;
		// border: 1px solid black;

		button {
			margin: 20px;
		}
	}

	h2 {
		margin-bottom: 40px;
	}
}

button {
	color: $accentColor;
	background: white;
	border: 1px solid $accentColor;
	border-radius: 2px;
	// box-shadow: -1px 2px 2px $mellowColor;
	font-weight: bold;
	padding: 7px 30px;
	transform: scale(1);
	transition: all .3s ease; 

	&:focus, &:active, &:hover {
		// background: $accentColor;
		// color: white;
		transform: scale(1.1);
	}
}

.toSave {
	width: 100%;
	// border: 1px solid gray;
	// border-radius: 1px;
	// box-shadow: -3px 4px 10px $mellowColor;
	// background: white;
	// height: 100%;

	ul {
		width: 55%;
		margin: 0 auto;
		padding: 20px;

		li {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 10px 0;
		}
	}

	p {
		text-align: center;
	}
}

select, input {
	width: 100%;
	margin: 10px 0 40px;
}

input {
	border: none;
	outline: none;
	background: transparent;
	padding: 5px 10px;
	border-top: 2px solid transparent;
	border-bottom: 2px solid $mellowColor;
	transition: all .3s ease;

	&:focus, &:active, &:hover {
		border-top-color: $mellowColor;
		border-bottom-color: $boldColor;
		background: white;
	}
}

select {
	border: 1px solid $mellowColor;
	border-radius: 2px;
	background: white;
	padding: 3px 6px;
	margin-bottom: 92px;
}

.translated {
	position: relative;
	padding: 20px;
	width: 50%;
	// border-top: 1px solid $boldColor;
	// background: white;
	// border: 1px solid black;

	p.credit {
		padding: 30px 0 0;
	}

	p {
		padding: 80px;
	}

	button {
		margin: 20px;
	}
}

.translation {
	font-size: 30px;
}


.remove {
	padding: 7px 13px;
	// border: none;
	box-shadow: none;
}

footer {
	text-align: center;
	padding: 20px;
	border-top: 1px solid $boldColor;
}