@import 'partials/setup';
@import 'partials/global';
@import 'partials/logform';


/* =========================================================================================================
HEADER
========================================================================================================= */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 60px;
	background: $darkColor;
	color: $lightColor;

	ul {
		display: flex;
	}
}

/* -- navigation -- */
nav a {
	margin-left: 60px;
	color: $lightColor;
	position: relative;
}

nav a::before {
	position: absolute;
	content: '';
	margin-bottom: -10px;
	height: 1px;
	width: 100%;
	left: 0;
	bottom: 0;
	transform: scale(0);
	background: $accentColor;
	transition: all .3s ease;
}

nav a:hover::before {
	transform: scaleX(1);
}

/* ---------------------------------------------------------------------------------------------------------
MAIN SECTION
--------------------------------------------------------------------------------------------------------- */
main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	z-index: 1;
}

/* -- overlay -- */
.hide {
	opacity: 0;
	transition: all .3s ease;
}

div.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 9;
	background: rgba(0,0,0,0.5);
	opacity: 1;
}

/* -- ready to translate section -- */
.toTranslate {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	padding: 20px 0;
	background: $darkColor;

	form {
		width: calc(50% - 30px);
		padding: 20px;
		margin-right: 10px;
		// border: 1px solid lightgray;
		background: #F3F3F4;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		button {
			// margin: 20px;
			// display: inline-block;
		}

		input, select {
			// width: 100%;
			display: block;
			margin: 0 auto;
		}
	}

	.forminput {
		width: 50%;
		margin: 20px 0;
	}

	h2 {
		// margin-bottom: 40px;
	}
}

/* -- finished translation, ready to save section -- */
.translated {
	position: relative;
	padding: 20px;
	width: calc(50% - 30px);
	// margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: #F3F3F4;
	// border: 1px solid lightgray;

	p {
		padding: 80px;
	}


	.translation {
		font-size: 30px;
		border: 1px dashed #C9BFC1;
	}
}

/* -- saved translation section -- */
.toSave {
	width: 100%;
	background: #F3F3F4;
	// border-top: 1px solid $boldColor;
	padding: 20px;

	ul {
		width: 55%;
		margin: 0 auto;
		padding: 20px;

		li {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 10px 0;
		}
	}
}

.loginmessage {
	text-align: center;
}

.remove {
	padding: 7px 13px;
	margin-left: 20px;
}

/* ---------------------------------------------------------------------------------------------------------
FOOTER SECTION
--------------------------------------------------------------------------------------------------------- */
footer {
	text-align: center;
	padding: 20px;
	background: $darkColor;
	color: $lightColor;

	p {
		margin-bottom: 20px;
	}

	a {
		color: $accentColor;
		// margin: 0 40px;	
		font-size: 18px;
		transition: all .3s ease;

		&:hover {
			color: #E0D3DF;
		}
	}
}


p.credit {
	padding: 30px 0 0;

	a {
		transition: all .3s ease;
		font-weight: bold;
		color: $accentColor;
		&:hover {
			color: #E0D3DF;
		}
	}
}

.endNote {
	display: flex;
	justify-content: space-between;
	padding: 0 60px;

	a {
		margin: 0 40px;
	}
}

@import 'partials/media';